.product-img {
  width: 200px;
  margin: auto;
  display: block;
}
.item-col {
  padding-bottom: 20px;
}

.fav-icon-shape {
  float: right;
}
.icon-right {
  display: flex;
  justify-content: flex-end;
}
.dash-nav-link {
  color: white;
  font-size: 14.4px;
}
